:root {
    --color-bg: #c6a65c;
    --color-link: #E0B867;
    --font-body: sans-serif;
    --hero-height: 60vh;
    --hero-max-height: 500px;
}

body {
    color: brown;
    font-family:var(--font-body) ;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
}

main {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

h1 {
    font-size: 3.6rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1.6rem;
    background-color: var(--color-bg);
    font-size: 1.4rem;
}

.navbar[data-layout="split"] {
    justify-content: space-between;
}

.logo {
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
}

nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-link {
    color: var(--color-link);
}

.active {
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: var(--color-link);
    font-size: inherit;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding-top: .4rem;
    min-width: 10rem;
    z-index: 1010;
}   

.dropdown-item {
    padding: .4rem;
}

.dropdown-item:hover {
    background-color: #eee;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.hero2 {
    display: grid;
    grid-template-areas: "hero";
    place-items: center;
    text-align: center;

    height: var(--hero-height);
    max-height: var(--hero-max-height);

    background-color: rgba(0, 0, 0, 0.5);
}

.hero2 > img {
    z-index: -1;

    object-fit: cover;
    height: min(var(--hero-height), var(--hero-max-height));
    width: 100%;
}

.hero2 > * {
    grid-area: hero;
}

.hero2-content {
    z-index: 1;
    color: white;
}

.background_img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    
}

*, *::before, *::after {
    box-sizing: inherit;
}
